body {
    font-family: 'Arial', sans-serif;
    background: url('https://c.wallhere.com/photos/39/70/1920x1080_px_abstract_art_Colorful_digital_Texture-1543719.jpg!d') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1 {
    color: #25D366;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: #25D366;
    margin-bottom: 5px;
}

form input[type="text"], 
form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

form button {
    background-color: #25D366;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #128C7E;
}

#message {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
