body {
    font-family: 'Arial', sans-serif;
    background: url('https://images.wallpaperscraft.com/image/single/texture_black_stone_154835_1920x1080.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #25D366;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar button {
    background-color: #25D366;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #128C7E;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.sidebar, .main-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    width: 48%;
}

h1, h2 {
    color: #25D366;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label, form textarea {
    color: #25D366;
    margin-bottom: 5px;
}

form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    resize: none;
}

form button {
    background-color: #25D366;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #128C7E;
}

#message {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgba(0, 0, 0, 0.7);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

button#followAllButton {
    background-color: #25D366;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 100%;
}

button#followAllButton:hover {
    background-color: #128C7E;
}

button#followUserButton {
    background-color: #25D366;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#followUserButton:hover {
    background-color: #128C7E;
}
